Class 1 - Square it

In [36]:
# Function to create list of square of numbers
def SquaredValues(beg, end):
	lst = []
	# store all the values of square of numbers
	# between given range in a list
	for i in range(beg, end):
		# append value to the list
		lst.append(i**2)

	lst_even = []
	lst_odd = []

	# check and store odd and even squares in seperate lists
	for i in lst:
		if i%2==0:
			# append value to the list
			lst_even.append(i)
		else:
			# append value to the list
			lst_odd.append(i)

	print("Here's a list of even squares within specified range", lst_even)
	print("Here's a list of odd squares within specified range", lst_odd)

# Take input from user for range of numbers
beg = int(input("Enter starting range : "))
end = int(input("Enter end range : "))

# Function call
SquaredValues(beg, end)

Enter starting range : 1
Enter end range : 10
Here's a list of even squares within specified range [4, 16, 36, 64]
Here's a list of odd squares within specified range [1, 9, 25, 49, 81]

Class 2- Tuple product

In [37]:
def mutiple_tuple(nums):
    temp = list(nums)
    product = 1
    for x in temp:
        product *= x
    return product

nums = (4, 3, 2, 2, -1, 18)
print ("Original Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

nums = (2, 4, 8, 8, 3, 2, 9)
print ("\nOriginal Tuple: ")
print(nums)
print("Product - multiplying all the numbers of the said tuple:",mutiple_tuple(nums))

Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864

Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: 27648

Class 3 - Check frequency

In [38]:
test_dict = {'Codingal' : 3, 'is' : 2, 'best' : 2, 'for' : 2, 'Coding' : 1}
print("The original dictionary : " +  str(test_dict))

# Initialize value
K = int(input("Enter the number to check frequency in Test dictionary : "))

# Using loop
# Selective key values in dictionary
res = 0
for key in test_dict:
    if test_dict[key] == K:
        res = res + 1

# printing result
print("Frequency of K is : " + str(res))

The original dictionary : {'Codingal': 3, 'is': 2, 'best': 2, 'for': 2, 'Coding': 1}
Enter the number to check frequency in Test dictionary : 2
Frequency of K is : 3

Class 4 - Symmetric difference

In [39]:
def sym_difference(set1, set2):
	print("\nOriginal sets:")
	print(set1)
	print(set2)
	result = set1.symmetric_difference(set2)
	print("\nSymmetric difference of setc1 - setc2:")
	return result

seta1 = set(["green", "blue"])
seta2 = set(["blue", "yellow"])
setb1 = set([1, 1, 2, 3, 4, 5])
setb2 = set([1, 5, 6, 7, 8, 9])

print("Result of A Sets")
sym_difference(seta1, seta2)
print("Result of B Sets")
sym_difference(setb1, setb2)

Result of A Sets

Original sets:
{'blue', 'green'}
{'blue', 'yellow'}

Symmetric difference of setc1 - setc2:
Result of B Sets

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Symmetric difference of setc1 - setc2:

{2, 3, 4, 6, 7, 8, 9}

Class 5 - List

In [40]:
num = int(input("You want odd and even numbers under what value? : "))

odd_list = [i for i in range(num) if i%2!=0]
print("List of odd numbers:", odd_list,"\n")

even_list = [i for i in range(num) if i%2==0]
print("List of odd numbers:", even_list,"\n")

fruits = ['apple', 'banana', 'mango', 'papaya', 'grapes']
Fruits = [x[0].upper()+x[1:] for x in fruits]
print(("Fruits as proper nouns :", Fruits))

You want odd and even numbers under what value? : 9
List of odd numbers: [1, 3, 5, 7]

List of odd numbers: [0, 2, 4, 6, 8]

('Fruits as proper nouns :', ['Apple', 'Banana', 'Mango', 'Papaya', 'Grapes'])

Class 6 - Password generator

In [44]:
import random

#A function do shuffle all the characters of a string
def shuffle(string):
  tempList = list(string)
  random.shuffle(tempList)
  return ''.join(tempList)

#Main program starts here
uppercaseLetter1=chr(random.randint(65,90))
uppercaseLetter2=chr(random.randint(65,90))
uppercaseLetter3=chr(random.randint(65,90))
uppercaseLetter4=chr(random.randint(65,90))
uppercaseLetter5=chr(random.randint(65,90))
uppercaseLetter6=chr(random.randint(65,90))
password = uppercaseLetter1 + uppercaseLetter2+uppercaseLetter3+ uppercaseLetter4+uppercaseLetter5+uppercaseLetter6
password = shuffle(password)


print(password)

ATKPWW