set operations

In [15]:
# Different types of sets in Python
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set,"\n")

#remove a number from a set
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("After removing the first element from the said set:")
print(num_set,"\n")

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}
{1, 2, 3, 4}
{1, 2, 3}

Original set:
{0, 1, 3, 4, 5}
After removing the first element from the said set:
{1, 3, 4, 5}

set intersect

In [16]:
setx = {"green", "blue"}
sety = {"blue", "yellow"}
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx.intersection(sety)
print(setz)

Original set elements:
{'green', 'blue'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

arrays

In [17]:
import array as arr

# create an array
array_num = arr.array('i', [1, 3, 5, 3, 7, 9, 3])
print("Original array: "+str(array_num))

# count number of occurences
print("Number of occurrences of the number 3 in the said array: "+str(array_num.count(3)))

# reverse the array
array_num.reverse()
print("Reverse the order of the items:")
print(str(array_num))

Original array: array('i', [1, 3, 5, 3, 7, 9, 3])
Number of occurrences of the number 3 in the said array: 3
Reverse the order of the items:
array('i', [3, 9, 7, 3, 5, 3, 1])

Frozen set

In [18]:
x = frozenset([1, 2, 3, 4, 5])
y = frozenset([3, 4, 5, 6, 7])

#use isdisjoint(). Return True if the set has no elements in common with other.
print(x.isdisjoint(y))

#use difference(). Return a new set with elements in the set that are not in the others.
print(x.difference(y))

#new set with elements from both x and y
print(x | y)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6, 7})