Remove duplicates

In [12]:
student_data = {'id1':
   {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id2':
  {'name': ['David'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id3':
    {'name': ['Sara'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
 'id4':
   {'name': ['Surya'],
    'class': ['V'],
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

Check key frequency

In [13]:
# Initialize dictionary
test_dict = {'Codingal' : 2, 'is' : 2, 'best' : 2, 'for' : 2, 'Coding' : 1}

# printing original dictionary
print("The original dictionary : " +  str(test_dict))

# Initialize value
K = 2

# Using loop
# Selective key values in dictionary
res = 0
for key in test_dict:
    if test_dict[key] == K:
        res = res + 1

# printing result
print("Frequency of K is : " + str(res))

The original dictionary : {'Codingal': 2, 'is': 2, 'best': 2, 'for': 2, 'Coding': 1}
Frequency of K is : 4

Country code

In [ ]:
country_code = {'India' : '0091',
                'Australia' : '0025',
                'Nepal' : '00977'}

# search dictionary for country code of India
print("Country code for India -")
print(country_code.get('India', 'Not Found'))

# search dictionary for country code of Japan
print("Country code for Japan -")
print(country_code.get('Japan', 'Not Found'))

Mirror

In [14]:
def mirrorChars(input,k):

    # create dictionary
    original = 'abcdefghijklmnopqrstuvwxyz'
    reverse = 'zyxwvutsrqponmlkjihgfedcba'
    dictChars = dict(zip(original,reverse))

    # separate out string after length k to change
    # characters in mirror
    prefix = input[0:k-1]
    suffix = input[k-1:]
    mirror = ''

    # change into mirror
    for i in range(0,len(suffix)):
         mirror = mirror + dictChars[suffix[i]]

    # concat prefix and mirrored part
    print (prefix+mirror)

# Driver program
if __name__ == "__main__":
    input = 'letter'
    k = 3
    mirrorChars(input,k)

leggvi