
**Operations on Lists **

In [1]:

#Create an empty list
empty_list = []
print()

# A list of numbers
numbers = [1, 2, 3, 4, 5]
print(numbers)

# Use * operator
triples = [1, 2, 3] * 3
print(triples)

#reverse the given list
aList = [100, 200, 300, 400, 500]
aList = aList[::-1]
print(aList,"\n")

[1, 2, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[500, 400, 300, 200, 100]

Word matching

In [2]:
def match_words(words):
	ctr = 0
	lst = []
	for word in words:
		if len(word) > 1 and word[0] == word[-1]:
			ctr += 1
			lst.append(word)

	print("List of words with first and last character same\n", lst)
	return ctr

count = match_words(['abc', 'cfc','xyz', 'aba', '1221'])
print("Number of words having first and last character same:", count)

List of words with first and last character same
 ['cfc', 'aba', '1221']
Number of words having first and last character same: 3

Sum and average

In [3]:
L = [4, 5, 1, 2, 9, 7, 10, 8]
print("Original List :", L)

# variable to store the sum of
# the list
count = 0

# Finding the sum
for i in L:
    count += i

# divide the total elements by
# number of elements
avg = count/len(L)

print("sum = ", count)
print("average = ", avg)

# Sorting the elements of the list
L.sort()

# printing the first element
print("Smallest element is:", L[0])

# printing the last element
print("Largest element is:", L[-1])

Original List : [4, 5, 1, 2, 9, 7, 10, 8]
sum =  46
average =  5.75
Smallest element is: 1
Largest element is: 10

Zip the lists

In [4]:
s1 = {2, 3, 1}
s2 = {'b', 'a', 'c'}
s3 = list(zip(s1, s2))
print(s3,"\n")



list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

[(1, 'c'), (2, 'b'), (3, 'a')]

10 400
20 300
30 200
40 100